html {
  background: #FFF;
  background-image: url('./static/background-images.jpg');
  
}
body {
  background: #f9f9f9;
  color: #e0e7e5!important;
  font-size: 100%;
  padding: 25px;
  margin: 25px 0 ;
  border-right: 25px solid #fff;
  border-left: 25px solid #fff;
  font-family: Arial, sans-serif;
}

label {
  display: inline-block;
  font-size: 1.0em;
}

.App {
  box-sizing:border-box;
}

div.instructions, div.data, div.history, div.progressBar {
  width: 49%;
  margin: 60px auto 30px;
  text-align: center;
  height: flex;
  align-items:center;
  justify-content:center;
  float: left;
}

.autocomplete {
  background-color:#fff;
  width: 90%;
  align-items:center;
  justify-content:center;
}

.App .clear {
  clear: both;
}

.formErrors {
  color: #FB797E;
  font-size: 1em;
  padding: 4px;
  border-radius: 20px;
}

@media screen and (max-width: 720px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('./static/background-images.jpg');
    color: #e0e7e5!important;
  }
  .instructions,
  .history,
  .data,
  .progressBar {
    height: auto;
  }
}